---
import Layout from '../layouts/Layout.astro';
import TableOfContent from '../components/TableOfContent.astro';

import * as manifesto from "../pages/manifesto/README.md"
import generateToc from '../util/generate-toc';

const toc = generateToc(manifesto.getHeadings())
---

<Layout title="Transcendent Progressivism">
	<div class="container">
		<div class="spacer"></div>
		<main>
			<picture class="logo">
				<source class="logo" srcset="./light-mode-logo.png" media="(prefers-color-scheme: light)" />
				<source srcset="./dark-mode-logo.png" media="(prefers-color-scheme: dark)" />
				<img width="100" src="./light-mode-logo.png" />
			</picture>
			<manifesto.Content />
		</main>
		<aside class="spacer">
			<ul>
				{toc.map((item) => <TableOfContent heading={item} />)}
			</ul>
		</aside>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 600px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	@media (min-width: 1024px) {
		main {
			width: 800px;
		}
	}

	@media (prefers-color-scheme: dark)  {
		main {
			color: #f0f0f0;
		}
	}

	.logo {
		width: 10rem;
	}

	.container {
		display: flex;
	}

	.spacer {
		flex: 1;
	}

	aside > ul {
		display: none;
		position: sticky;
		top: 0;
		padding-top: calc(0.67em + 1rem);
		max-width: 20rem;
	}

	@media (min-width: 1024px) {
		aside > ul {
			display: block;
		}
	}

	ul {
		list-style: none;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
